body {
    font-family: Arial;
}

.timer {
    font-size: 35px;
    text-align: center;
}

p {
    text-align: center;
}

h4 {
    text-align: center;
    text-decoration: underline;
}